In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('result.csv')
df

,Unnamed: 0,player,nationality,position,team,age,games,games_starts,minutes,assists,...,gk_wins,gk_ties,gk_losses,gk_clean_sheets,gk_clean_sheets_pct,gk_pens_att,gk_pens_allowed,gk_pens_saved,gk_pens_missed,gk_pens_save_pct
0,0,Max Aarons,eng,DF,Bournemouth,23,20,13,1237,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Tyler Adams,us,MF,Bournemouth,24,3,1,121,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Tosin Adarabioyo,eng,DF,Fulham,25,20,18,1617,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Elijah Adebayo,eng,FW,Luton Town,25,27,16,1419,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Simon Adingra,ci,FW,Brighton,21,31,25,2222,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
488,575,Nicolò Zaniolo,it,"FW,MF",Aston Villa,24,25,9,839,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
489,576,Anass Zaroury,ma,"FW,MF",Burnley,22,6,1,152,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
490,577,Oleksandr Zinchenko,ua,DF,Arsenal,26,27,20,1722,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
491,578,Kurt Zouma,fr,DF,West Ham,28,33,32,2838,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
492,579,Martin Ødegaard,no,MF,Arsenal,24,35,35,3091,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Tìm top 3 cầu thủ có điểm cao nhất và thấp nhất ở mỗi chỉ số.

In [4]:
for x in df.columns[5:]:
    df_copy =df.copy()
    if 'gk' in x:
        df_copy= df_copy[df_copy['position']=='GK']
    tmp =df_copy[['player',x]].sort_values(x) 
    tmp.dropna(axis=0,inplace=True)
    #print(f'3 cầu thủ có {x} cao nhất')
    ans=tmp[-3:][::-1]
    fig ,ax = plt.subplots(figsize=(5,2))
    ax.axis('tight')
    ax.axis('off')
    ax.table(cellText=ans.values, colLabels=ans.columns, rowLabels=ans.index, cellLoc='center', loc='center')
    plt.savefig(f'./image/2.1/3 cầu thủ có {x} cao nhất.png', dpi=300)
    #print(f'3 cầu thủ có {x} thấp nhất')
    ans=tmp[:3]
    ax.table(cellText=ans.values, colLabels=ans.columns, rowLabels=ans.index, cellLoc='center', loc='center')
    plt.savefig(f'./image/2.1/3 cầu thủ có {x} thấp nhất.png', dpi=300)
    plt.close()

### Tìm trung vị của mỗi chỉ số. Tìm trung bình và độ lệch chuẩn của mỗi chỉ số cho các cầu thủ trong toàn giải và của mỗi đội. Ghi kết quả ra file results2.csv

In [3]:
df2 = df.copy()
index2 = ['team']
df2.fillna(0,inplace=True)
for x in df2.columns[6:]:
    index2.append(x)
    df2[x] = df2[x].astype(float)
df2= df2[index2]

In [4]:
df2=df2.set_index('team')

In [5]:
mean = df2.groupby('team').mean()
median =df2.groupby('team').median()
std = df2.groupby('team').std()
mean_all= df2.mean()
median_all= df2.median()
std_all =df2.std()
result2 = dict()
col_result2 = []
result2['all']=[]
for x in mean.index:
    result2[x]=[]
for x in df.columns[6:]:
    col_result2.append(f'Median of {x}')
    col_result2.append(f'Mean of {x}')
    col_result2.append(f'Std of {x}')
    result2['all'].append(median_all[x])
    result2['all'].append(mean_all[x])
    result2['all'].append(std_all[x])
    for y in mean.index:
        result2[y].append(median.loc[y][x])
        result2[y].append(mean.loc[y][x])
        result2[y].append(std.loc[y][x])
result2=pd.DataFrame.from_dict(result2,orient='index',columns=col_result2)
result2

,Median of games,Mean of games,Std of games,Median of games_starts,Mean of games_starts,Std of games_starts,Median of minutes,Mean of minutes,Std of minutes,Median of assists,...,Std of gk_pens_allowed,Median of gk_pens_saved,Mean of gk_pens_saved,Std of gk_pens_saved,Median of gk_pens_missed,Mean of gk_pens_missed,Std of gk_pens_missed,Median of gk_pens_save_pct,Mean of gk_pens_save_pct,Std of gk_pens_save_pct
all,23.0,22.657201,10.136975,16.0,16.941176,11.167179,1419.0,1518.369168,949.241058,1.0,...,0.974582,0.0,0.016227,0.141638,0.0,0.006085,0.077849,0.0,0.571805,5.712175
Arsenal,27.0,26.809524,10.191266,18.0,19.857143,13.093073,1649.0,1781.571429,1102.745872,2.0,...,0.436436,0.0,0.047619,0.218218,0.0,0.000000,0.000000,0.0,1.585714,7.266656
Aston Villa,27.0,24.173913,11.109587,20.0,18.130435,12.392462,1652.0,1629.130435,1057.004055,1.0,...,0.208514,0.0,0.043478,0.208514,0.0,0.000000,0.000000,0.0,4.347826,20.851441
Bournemouth,25.5,22.076923,11.852166,13.0,16.038462,12.732575,1317.5,1438.423077,1074.136832,1.0,...,0.992278,0.0,0.038462,0.196116,0.0,0.000000,0.000000,0.0,0.642308,3.275139
Brentford,26.0,22.960000,10.346014,15.0,16.720000,10.883933,1321.0,1496.840000,910.122459,1.0,...,0.400000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000
Brighton,20.0,20.928571,8.751417,15.0,14.892857,8.603786,1344.5,1338.107143,768.792913,1.0,...,0.786796,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000
Burnley,16.0,20.392857,9.346575,14.0,14.928571,10.014540,1213.0,1334.857143,851.000706,1.0,...,0.956736,0.0,0.035714,0.188982,0.0,0.000000,0.000000,0.0,1.785714,9.449112
Chelsea,23.0,21.880000,9.404432,18.0,16.720000,11.066165,1576.0,1495.120000,951.169820,1.0,...,0.439697,0.0,0.040000,0.200000,0.0,0.040000,0.200000,0.0,1.332000,6.660000
Crystal Palace,22.5,22.458333,9.477567,17.5,17.416667,10.993740,1587.5,1566.000000,910.738831,1.0,...,0.448427,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000
Everton,28.0,23.304348,11.561829,23.0,18.173913,13.720099,1884.0,1633.173913,1156.480384,0.0,...,1.668115,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000
Fulham,29.0,27.238095,7.993152,18.0,19.904762,10.084170,1593.0,1773.714286,834.245056,1.0,...,1.745743,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000
Liverpool,28.0,25.863636,8.993624,17.0,18.954545,8.283531,1671.0,1694.409091,706.077876,2.0,...,0.213201,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000
Luton Town,23.0,22.840000,9.163696,16.0,16.720000,10.159232,1304.0,1500.840000,865.696188,0.0,...,0.800000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000
Manchester City,29.0,24.952381,9.351343,24.0,19.904762,11.330952,2042.0,1785.571429,948.831469,1.0,...,0.654654,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000
Manchester Utd,22.0,21.500000,10.052860,15.0,16.038462,11.039858,1351.5,1440.384615,957.017955,1.0,...,1.372813,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000
Newcastle Utd,21.0,22.875000,8.679373,14.5,17.333333,10.773021,1296.5,1557.416667,896.052062,1.0,...,0.816497,0.0,0.041667,0.204124,0.0,0.000000,0.000000,0.0,0.833333,4.082483
Nott'ham Forest,20.0,19.000000,9.955071,15.0,13.933333,8.642052,1439.0,1248.766667,772.053539,1.0,...,0.434172,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000
Sheffield Utd,14.5,18.800000,10.584308,11.0,13.933333,10.550154,940.5,1247.100000,943.252164,0.0,...,0.912871,0.0,0.000000,0.000000,0.0,0.066667,0.253708,0.0,0.000000,0.000000
Tottenham,27.5,23.750000,10.927628,15.5,17.416667,12.693431,1401.0,1554.291667,1045.629890,1.0,...,1.428869,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000
West Ham,23.5,23.363636,10.825655,21.0,19.000000,13.511900,1776.0,1701.727273,1137.038601,0.0,...,1.216766,0.0,0.090909,0.426401,0.0,0.000000,0.000000,0.0,1.300000,6.097540
Wolves,25.0,22.480000,11.930773,11.0,16.720000,13.358892,1222.0,1499.880000,1113.963469,0.0,...,1.600000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000

In [8]:
result2.to_csv('result2.csv')

### Vẽ historgram phân bố của mỗi chỉ số của các cầu thủ trong toàn giải và mỗi đội.

In [8]:
df3= df.copy()
print("Phân bố của mỗi chỉ số của các cầu thủ trong toàn giải")
print("")
for i,x in enumerate(df3.columns[5:]):
    df_copy =df.copy()
    if 'gk' in x:
        df_copy= df_copy[df_copy['position']=='GK']
    tmp =df_copy[x]
    tmp.dropna(axis=0,inplace=True)
    plt.figure(figsize=(5,3))
    plt.hist(tmp,bins=15)
    plt.title(f"phân bố của chỉ số {x}")
    plt.xlabel(x)
    plt.ylabel("Frequency")
    plt.savefig(f"./image/2.3/phân bố của chỉ số {x}.png",dpi=300)
    plt.close()

Phân bố của mỗi chỉ số của các cầu thủ trong toàn giải

In [9]:
print("Phân bố của mỗi chỉ số của các cầu thủ trong mỗi đội")
print("")
for y in df['team'].unique():
    df_copy = df.copy()
    df_copy = df_copy[df_copy['team']==y]
    for i,x in enumerate(df_copy.columns[5:]):
        if 'gk' in x:
            df_copy= df_copy[df_copy['position']=='GK']
        tmp = df_copy[x]
        tmp.dropna(axis=0,inplace=True)
        plt.figure(figsize=(5,3))
        plt.hist(tmp,bins=15)
        plt.title(f"Phân bố chỉ số {x} của cầu thủ \n trong đội bóng {y}")
        plt.xlabel(x)
        plt.ylabel("Frequency")
        plt.savefig(f"./image/2.3/Phân bố chỉ số {x} của cầu thủ trong đội bóng {y}.png",dpi=300)
        plt.close()

Phân bố của mỗi chỉ số của các cầu thủ trong mỗi đội

 ### Tìm đội bóng có chỉ số điểm số cao nhất ở mỗi chỉ số. Theo bạn đội nào có phong độ tốt nhất giải ngoại Hạng Anh mùa 2023-2024

In [14]:
df5=  pd.read_csv('result2.csv')
df5.drop([0],axis=0,inplace=True)

df5_col=df5.columns[1:]
ans =dict()

length= 0
for x in df5_col:
    c=df5[df5[x]==max(df5[x])]['Unnamed: 0']
    ans[x] =list(c)
    length=max(length,len(ans[x]))
for x in ans.keys():
    while len(ans[x])<length:
        ans[x].append('')
ans2= pd.DataFrame.from_dict(ans)
ans2.to_csv('result4.csv')

In [15]:
### Đếm số lượng chỉ số đạt max của mỗi đội
team = dict()
for x in df5['Unnamed: 0']:
    team[x]=0
for x in ans.keys():
    for y in ans[x]:
        if y!= '':
            team[y]+=1
for x in team.keys():
    print(x,team[x])

Arsenal 69
Aston Villa 46
Bournemouth 49
Brentford 51
Brighton 33
Burnley 36
Chelsea 45
Crystal Palace 46
Everton 60
Fulham 88
Liverpool 116
Luton Town 50
Manchester City 162
Manchester Utd 41
Newcastle Utd 53
Nott'ham Forest 42
Sheffield Utd 40
Tottenham 52
West Ham 62
Wolves 45

=> Từ kết quả trên ta thấy Manchester City là đội có đạt max nhiều chỉ số nhất. Nên có thể đoán Manchester city là đội có phong độ cao nhất